*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	background: linear-gradient(to right, #6699ff 0%, #ffcc99 100%) !important;
	height: 100%;
	width: 100%;
}

.header
{
	height: 80px;
	width: 100%;
	background-color:#b1cbbb;
	display:block;
	/*background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));*/
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
}

.logo_container
{
	height: 100%;
	display: table;
	float: left;
	cursor: pointer;
}

.logo
{
	width: 75px;
	display: table-cell;
	vertical-align: middle;
}

.inner_header
{
	display: flex;
	align-items: center;
	
	
}

nav
{
	flex: 1;
	text-align: right;
	margin-right: 40px;
}

nav ul li{
	list-style: none;
	display: inline-block;
	color: #000;
	font-size: 13px;
	font-weight: bold;
	margin-left: 60px;
}

nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
	font: bold;
}

.keywordTable
{
	margin-left: auto;
  margin-right: 25px;
	font-family: sans-serif;
}

table th
{
	background: linear-gradient(45deg, #49a09d, #5f2c82);
  color: white;
	font-family: sans-serif;
}

table
{
	border-collapse: collapse;
	width: 75%;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th, td
{
	background-color: rgba(255,255,255,0.5);
	padding: 25px;
  border: 2px solid black;
}

.input-field
{
	width: 20%;
	padding: 10px 0;
	margin: 6px 0;
	border-left: 0;
	border-right: 0;
	background: transparent;
	outline: none;
	border-bottom: 2px solid #b1cbbb;
	border-top: 0;
}

.btn-btn-primary
{
	background-color: #4CAF50;
	width: 10%;
	border: none;
	outline: none;
	color: white;
	padding: 16px 32px;
	cursor: pointer;
	font-weight: bold;
	margin: 4px 2px;
	border-radius: 8px;
	align-items: center;
}

::placeholder {
  color: white;
  font-weight: bold;
}
