nav
{
	flex: 1;
	text-align: right;
	margin-right: 40px;
}

nav ul li{
	list-style: none;
	display: inline-block;
	color: #000;
	font-size: 13px;
	font-weight: bold;
	margin-left: 60px;
}

nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}

nav ul li a:hover
{
    color: rgb(0, 0, 0); /* placeholder */
}

.logo_container
{
	height: 100%;
	display: table;
	float: left;
	cursor: pointer;
}

.logo
{
	width: 75px;
	display: table-cell;
	vertical-align: middle;
}

.inner_header
{
	display: flex;
	align-items: center;
	
	
}

.FormHolder
{
	background: #fff;
	border: 2px solid #ccc;
	border-radius: 6px;
	width: 450px;
	height: 575px;
	position: relative;
	padding: 30px;
	overflow: hidden;
	margin: 2% auto;
	/* display: none; */
}	


.button-box
{
	width: 200px;
	margin: 35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #b1cbbb;
	border-radius: 6px;
	
}

.toggle-button
{
	padding: 10px 25px;
	background: transparent;
	outline: none;
	border: 0;
	position: relative;
	cursor: pointer;
	
}

#btn
{
	position: absolute;
	width: 100px;
	height: 100%;
	background: linear-gradient(to right, #b1cbbb, #009999);
	border-radius: 6px;
	transition: .4s;
}

.btn-btn-primary
{
	background-color: #4CAF50;
	width: 100%;
	border: none;
	outline: none;
	color: white;
	padding: 16px 32px;
	cursor: pointer;
	font-weight: bold;
	margin: 4px 2px;
	border-radius: 8px;
	align-items: center;
}

.input-form
{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .4s;
}

.input-field
{
	width: 100%;
	padding: 10px 0;
	margin: 6px 0;
	border-left: 0;
	border-right: 0;
	background: transparent;
	outline: none;
	border-bottom: 2px solid #b1cbbb;
	border-top: 0;
}

select{
	width: 100%;
	padding: 10px 0;
	margin: 6px 0;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	background: transparent;
	outline: none;
	border-bottom: 2px solid #b1cbbb;
}


#register{
	left: 50px;
}

#login{
	left: 500px;
}
